body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background: #6ac0dd;
  color: #333;
}

.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: white;
}

.logo {
  width: 150px;
  height: auto;
  cursor: pointer;
}

.search-bar input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 250px;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-right: 15px;
}

.button-container button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #5db637;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container button:hover {
  background: linear-gradient(to right, #5db637, #02849b);
}

.button-container button a {
  text-decoration: none;
  color: white;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.text-blocks {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 700px;
}

.block {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.block.locked {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  color: #721c24;
}

.image-blocks {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.image-blocks img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .image-blocks {
    order: -1;
  }
}
